In [4]:
import pandas as pd
df = pd.read_csv('student_data.csv')
df

,Student ID,Student Name,Date of Birth,Field of Study,Year of Admission,Expected Year of Graduation,Current Semester,Specialization,Fees,Discount on Fees
0,165527,Bryan Rogers,2006-01-19,Computer Science,2020,2017,3,Web Development,155152,19572
1,635763,James Hogan,1999-05-23,Mechanical Engineering,2020,2020,2,Machine Learning,157870,14760
2,740021,David Robinson,1997-12-02,Civil Engineering,2017,2022,1,Network Security,55662,5871
3,433076,Susan Miller,1999-10-30,Computer Science,2021,2019,1,Data Science,134955,17284
4,441628,Brittany Martin,1998-01-10,Chemical Engineering,2016,2018,1,Network Security,125934,14871
...,...,...,...,...,...,...,...,...,...,...
199995,220556,Kelly Bradley,2001-06-06,Electrical Engineering,2017,2021,4,Data Science,164149,4246
199996,957592,Jacob Smith,2003-12-15,Electrical Engineering,2017,2019,3,Web Development,135184,12729
199997,786798,Nicole Davis,2000-07-27,Chemical Engineering,2022,2023,1,Data Science,139430,18237
199998,142498,Natasha Rosales,2001-02-16,Civil Engineering,2017,2018,1,Data Science,73117,6946
199999,930898,Charles Marsh,2005-10-17,Computer Science,2018,2020,2,Machine Learning,75582,6176

In [5]:
print('Titanic Dataset | Kaggle')

Titanic Dataset | Kaggle